
.navbar {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:rgb(141, 139, 133);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    border: 1px solid rgba(255, 255, 255, 0.12);
  }
  
  .container-nav {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Add this line to space the logo and menu */
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  ul {
    list-style: none;
    text-align: right;
    color: #ffffff;
    margin-right: 0;
    padding-left: 0;
    display: flex;
  }
  
  ul li {
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .profile {
    width: 50px;
    cursor: pointer;
    margin-left: 20px;
    color: #ffffff;
    padding-right: 10px;
  }
  
  .menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 0 10px;
  }
  .nav-list{
    justify-content: flex-end;
  }

  .bar {
    width: 20px; /* Set the desired width */
    height: 2px;
    background-color: #fff;
    margin: 3px 0; /* Adjust the margin to center the icon vertically */
    transition: 0.4s;
  }
  
  /* Responsive styles */
  @media only screen and (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .menu-icon {
      display: flex;
    }
  
    ul {
      display: none;
      width: 100%;
      position: absolute;
      top: 70px; /* Adjust this value based on your header height */
      background-color: #333;
    }
  
    ul.open {
            color: var(--black);
            position:absolute;
            gap: 10px;
            font-weight: 500;

            flex-direction:column-reverse;
            right: 3rem;
            top: 2rem;
            background: white;
            display: flex;
            border-radius: 10px;
            transition: all 200ms ease;
            /* align-items: flex-start; */
            padding: 3rem;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    }          
  
    ul li {
      text-align: center;
      margin: 10px 0;
    }
  
    .profile {
      margin-top: 10px;
    }
  
    .navbar.open {
      height: auto;
    }
  }
  